*{
text-align: center;
margin: 10px auto;
}

select{
width: 200px;
padding: 3px;
box-shadow: 3px 3px 15px 1px #a7b9bd;
border: none;
border-radius: 5px;
}

.animal {
	width: 200px;
	height: 200px;
	box-shadow: 4px 4px 15px 3px #a7b9bd;
}

.blanco-negro{
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}

.invertir-colores{
-webkit-filter: invert(.8);
filter: invert(.8);
}

.sepia{
	filter: sepia(1);
	-webkit-filter: sepia(1);
}
